<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>Halloween Horror Night 6</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />
    <style>
        @-ms-viewport {
            width: device-width;
        }
    </style>
    <link rel="stylesheet" href="vendor/reset.min.css">
    <!-- <link rel="stylesheet" href="vendor/normalize.css"> -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="styles/menu.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="fonts/edo_regular_macroman/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900" rel=stylesheet type=text/css>
</head>

<body ng-controller="bodyCtrl" class="multiple-scenes view-control-buttons">

    <!-- facebook share  -->
    <script>
        window.jsFbLoggedIn = false;
        window.jsFbResponse = null;

        window.fbAsyncInit = function() {
            FB.init({
                appId: '1198509583506495',
                xfbml: true,
                version: 'v2.6'
            });

            FB.getLoginStatus(function( response ) {
                if ( response.status === 'connected' ) {
                    window.fbLoggedIn = true;
                    window.fbResponse = response;
                }
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- landing page -->
    <div id="pageLanding">
        <div class="centerElement centerInlineHor">
            <h2 class="font-trajan-pro fg-whitish">Bodies Of Work</h2>
            <br />
            <br />
            <p>
                The Shipmen fire tragedy has ignited the evil within Damien, inspiring
                his greatest work yet. Take a trip down the memory lane with his family,
                as he pieces them back together, limb by limb.

            </p>
            <br />
            <br />
            <div>
                <p class="fg-yellow bold">
                    ALL CREATION NEEDS THE RIGHT TOOLS
                </p>
                <ul class="triple-column">
                    <li>
                        <img src="img/icon_search.png" />
                        <br /> Find the right tool that Damien needs.
                    </li>
                    <li>
                        <img src="img/icon_heart.png" />
                        <br /> No mistake goes unpunished, but his mercy last till the 3<span style="vertical-align:super">rd</span>
                    </li>
                    <li>
                        <img src="img/icon_timer.png" />
                        <br /> Time is the key to higher chances of winning.
                    </li>
                </ul>
            </div>
            <br />
            <a class="btnBlood active" ng-click="startGame();">
                START NOW
            </a>
        </div>
    </div>

    <!-- fail -->
    <div id="pageFails">
        <div class="centerElement centerInlineHor">
            <h3 class="font-trajan-pro fg-whitish">
                A Deadly Mistake
            </h3>
            <br />
            <p>
                Mercy comes short for those who disrupt Damien's work.
                However, you're in luck. He has decided to give you
                another change to save your own skin.
            </p>
            <br />
            <a class="btnBlood active" onclick="location.reload()">
                TRY AGAIN
            </a>
        </div>
    </div>

    <!-- share -->
    <div id="pageShare">
        <div class="centerElement">
            <ul class="double-column">
                <li>
                    <div class="clueImage">
                        <img src="img/code.png" class="centerHor" />
                    </div>
                    <br />
                    <p class="centerInlineHor">
                        Collect all 5 codes to unlock the final haunting
                    </p>
                    <p class="centerInlineHor">
                        <a href="#" class="iconDownload fg-yellow">
                            <!-- <img src="img/download.svg"/> -->
                            DOWNLOAD IMAGE
                        </a>
                    </p>
                </li>
                <li>
                    <h4 class="font-trajan-pro centerInlineHor">Spread The Word Of Evil</h4>
                    <br />
                    <p class="centerInlineHor">
                        Stand a chance to win 2 pairs of ticket to Halloween Horror Nights 6 by sharing your survival with friends.
                    </p>
                    <br />
                    <div class="leaderboardBox">
                        <div>
                            <p class="font-trajan-pro bold fg-yellow centerInlineHor">SHARE &amp; WIN NOW</p>
                        </div>
                        <div class="guessBox">
                            <p class="bold centerInlineHor">YOUR TIME <span class="fg-yellow">04:05</span></p>
                            <br />
                            <div class="centerInlineHor">
                                <a href="#" class="iconSocMed facebook" ng-click="share( 'facebook' )"></a>
                                <a href="#" class="iconSocMed twitter"></a>
                                <a href="#" class="iconSocMed weibo"></a>
                            </div>
                            <br />
                            <div class="topBorderRed">
                                <br />
                                <p class="bold centerInlineHor">LEADERBOARD</p>
                                <br />
                                <ul class="double-column centerInlineHor leaderboard">
                                    <li>
                                        <div ng-repeat="entry in entry1to5">
                                            {{$index}}. {{entry.time}}
                                        </div>
                                    </li>
                                    <li>
                                        <div ng-repeat="entry in entry2to5">
                                            {{$index}}. {{entry.time}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- Marzipano Pano -->
    <div id="pano"></div>

    <!-- correct items in pano -->
    <div id="clue-1" class="borderDebug" style="height: 50px; width: 50px" ng-click="processTrue( 1 )"></div>
    <div id="clue-2" class="borderDebug" style="height: 50px; width: 50px" ng-click="processTrue( 2 )"></div>
    <div id="clue-3" class="borderDebug" style="height: 50px; width: 50px" ng-click="processTrue( 3 )"></div>
    <div id="clue-4" class="borderDebug" style="height: 50px; width: 50px" ng-click="processTrue( 4 )"></div>
    <!-- wrong items -->
    <div id="clue-5" class="borderDebugBlue" style="height: 50px; width: 50px" ng-click="processFalse( 5 )"></div>
    <div id="clue-6" class="borderDebugBlue" style="height: 50px; width: 50px" ng-click="processFalse( 6 )"></div>
    <div id="clue-7" class="borderDebugBlue" style="height: 50px; width: 50px" ng-click="processFalse( 7 )"></div>
    <div id="clue-8" class="borderDebugBlue" style="height: 50px; width: 50px" ng-click="processFalse( 8 )"></div>
    <div id="clue-9" class="borderDebugBlue" style="height: 50px; width: 50px" ng-click="processFalse( 9 )"></div>
    <div id="clue-10" class="borderDebugBlue" style="height: 140px; width: 140px" ng-click="processFalse( 10 )"></div>

    <!-- <img src="img/arrow_up.png" id="switch-1" /> -->

    <!-- camera icon -->
    <!-- <img class="panoCenter" src="img/icon_camera_ingame.png" /> -->

    <!-- health meter and dialogues-->
    <div class="bottomArea">
        <div class="bloodBox">
            {{currentMsg}}
        </div>
        <div>
            <img src="img/heart.png" class="m1"/>
            <img src="img/heart.png" class="m2"/>
            <img src="img/heart.png" class="m3"/>
            <img src="img/heart.png" class="m4"/>
        </div>
    </div>

    <!-- clues counter -->
    <!-- <div class="cluesCtr" onclick="showPage( '.fadePage' );showPage( '', '#pageClues'); showClues();">
        <img src="img/clue.png" />
    </div> -->

    <!-- single item -->
    <div id="cluePlaceholder" class="cluePlaceholder">
        <img/>
    </div>

    <!-- <div id="pageClues">
        <a href="#" class="closeButtonRed">
        </a>
        <img src="img/photo_clue_blank.png" class="borderDebug" />
        <img src="img/photo_clue_blank.png" class="borderDebug" />
        <img src="img/photo_clue_blank.png" class="borderDebug" />
        <br />
        <br />
        <a href="#" class="btnBlood">
            Guess
        </a>
    </div> -->

    <div style="display:none">
        <div id="sceneList">
            <ul class="scenes">
                <a href="#" class="scene" data-id="0-snowy">
                    <li class="text">snowy</li>
                </a>
                <a href="#" class="scene" data-id="1-home">
                    <li class="text">home</li>
                </a>
            </ul>
        </div>

        <div id="titleBar">
            <h1 class="sceneName"></h1>
        </div>

        <a href="#" id="autorotateToggle">
            <img class="icon off" src="img/play.png">
            <img class="icon on" src="img/pause.png">
        </a>

        <a href="#" id="fullscreenToggle">
            <img class="icon off" src="img/fullscreen.png">
            <img class="icon on" src="img/windowed.png">
        </a>

        <a href="#" id="sceneListToggle">
            <img class="icon off" src="img/expand.png">
            <img class="icon on" src="img/collapse.png">
        </a>

        <a href="#" id="viewUp" class="viewControlButton viewControlButton-1">
            <img class="icon" src="img/up.png">
        </a>
        <a href="#" id="viewDown" class="viewControlButton viewControlButton-2">
            <img class="icon" src="img/down.png">
        </a>
        <a href="#" id="viewLeft" class="viewControlButton viewControlButton-3">
            <img class="icon" src="img/left.png">
        </a>
        <a href="#" id="viewRight" class="viewControlButton viewControlButton-4">
            <img class="icon" src="img/right.png">
        </a>
        <a href="#" id="viewIn" class="viewControlButton viewControlButton-5">
            <img class="icon" src="img/plus.png">
        </a>
        <a href="#" id="viewOut" class="viewControlButton viewControlButton-6">
            <img class="icon" src="img/minus.png">
        </a>
    </div>

    <script src=https://use.typekit.net/gmu3kbc.js></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="vendor/es5-shim.js"></script>
    <script src="vendor/eventShim.js"></script>
    <script src="vendor/classList.js"></script>
    <script src="vendor/requestAnimationFrame.js"></script>
    <script src="vendor/screenfull.min.js"></script>
    <script src="vendor/bowser.min.js"></script>
    <script src="vendor/marzipano.js"></script>
    <script src="vendor/jquery.spritely.js"></script>
    <script src="vendor/motio.min.js"></script>
    <script src="vendor/jquery.motio.min.js"></script>

    <script src="config.js"></script>
    <script src="controller.js"></script>
    <script src="data.js"></script>
    <script src="index.js"></script>
    <script src="game.js"></script>


</body>

</html>
