html, body {
    font-family: lato, sans-serif;
    color: #e5e5cf;
    font-weight: 500 !important;
    /*overflow: visible;*/
}

a:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.borderDebug {
    border: 1px solid red;
}

.borderDebugBlue {
    border: 1px solid blue;
}
.bottomArea {
    max-width: 350px;
    position: absolute;
    z-index: 50;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.bottomArea > div:first-child {
    margin-bottom: 20px;
    width: 100%;
    font-style: italic;
    position: relative;
    z-index: 50;
}

.bottomArea > div:nth-child(2) > img {
    width: 30px;
    height: auto;
    display: inline-block;
}

.center-hor-inline-children {
    text-align: center;
}

.center-hor-block-children {
    display: inline-block;
    margin: 0 auto;
}


.center-ver-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1024px) {
    .center-ver-parent {
        display: flex;
        justify-content: center;
        align-items:flex-start;
    }
}

.center-ver-hor-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
    display: none;
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    overflow: visible;
}

#singleClue > img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: auto;
    margin-bottom: 20px;
    transform: translate(-50%, -50%);
    z-index: 50;
}
.closeButtonRed {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-image: url('../img/icon-close.png');
}
.btnBlood {
    display: inline-block;
    padding: 10px 15px 10px 15px;
    background-position: center;
    background-size: cover;
    background-image: url('../img/texture_inactive.jpg');
    background-repeat: none;
    border: none;
    font-weight: 800;
    color: #e5e5cf;
}
.btnBlood.active {
    background-image: url('../img/texture.jpg');
}
.font-edo {
    font-family: "edoregular", sans-serif;
}
.font-trajan-pro {
    font-family: "trajan-pro-3", courier;
}
.fg-whitish {
    color: #e5e5cf;
}
.fg-yellow {
    color: #ffc700 !important;
}
.fg-black {
    color: #000;
}
.fg-red {
    color: #a80101;
}
.bloodBox {
    /*border-image-source: url('../img/texture.jpg');*/
    display: inline-block;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    -moz-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    -webkit-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    -o-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    background-color: rgba(0, 0, 0, 0.60);
    padding: 15px;
}

/*
.double-column,
.triple-column {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.double-column > li,
.triple-column > li
 {
    float: left;
    list-style: none;
    height: 100%;
}
.double-column li {
    width: 50%;
}
.double-column li:first-child {
    width: 50%;
}

.triple-column li {
    width: 33%;
}
*/

.bloodBoxHeader {
    padding: 12px 7px 7px 7px;
    background-image: url(../img/texture.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.share-win {
    width: 60%;
    max-width: 300px;
    background-image: url(../img/texture.jpg);
    background-position: center;
    background-size: cover;
}
.share-win > div:first-child {
    padding-top: 10px;
}
.share-win > div:nth-child(2) {
    width: calc( 100% - 10px );
    margin-bottom: 5px;
    background-color: #000;
}

.share-win > div:nth-child(2) > div {
    margin: 20px;
}

.leaderboard {
    padding: 20px;
}

.bold {
    font-weight: 900;
}

.topBorderRed {
    border-top: 1px solid #a80101;
}

.iconSocMed {
    display: inline-block;
    width: 100px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.iconSocMed.facebook        { background-image: url(../img/icon_fb.png); }
.iconSocMed.facebook:hover  { background-image: url(../img/icon_fb_ro.png); }

.iconSocMed.twitter         { background-image: url(../img/icon_twitter.png); }
.iconSocMed.twitter:hover   { background-image: url(../img/icon_twitter_ro.png); }

.iconSocMed.weibo           { background-image: url(../img/icon_fb.png); }
.iconSocMed.weibo:hover     { background-image: url(../img/icon_fb_ro.png); }

.iconDownload {
    display: inline-block;
    margin: 20px;
    background-image: url( ../img/icon_download.png);
    height: 30px;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 37px;
    line-height: 30px;
}

#pageLanding {
    background-image: url( ../img/landing_bg.jpg );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 40;
}

#pageLanding > div > div {
    max-width: 800px;
    width: 100%;
}

.start-game-col {
    padding-top: 40px;
}

.blood-bg {
    width: 750px;
    height: 220px;
    background-image: url( ../img/landing_blood.png );
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 40px 50px 10px 50px;
}
@media (max-width: 1024px) {
    .blood-bg {
        height: auto;
        width: auto;
        padding: 30px 10px 30px 10px;
        margin-top: 20px;
    }
}

.blood-bg img {
    max-width: 70px;
    height: auto;
}

#pageFails {
    background-color: transparent;
    background-image: none;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50;
}

#pageBlackBg {
    background-color: #000;
    position: absolute;
    z-index: 30;
}

#pageFails > div {
    width: 100%;
    height: 100%;
}

#pageFails > div > div {
    width: 100%;
    max-width:500px;
}

#pageSplatter_4 {
    background: url( ../img/splatter_overlay1.png );
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: bottom right;
    pointer-events: none;
    position: absolute;
    z-index: 45;
}
#pageSplatter_3 {
    background: url( ../img/splatter_overlay2.png );
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: top lfet;
    pointer-events: none;
    position: absolute;
    z-index: 45;
}
#pageSplatter_2 {
    background: url( ../img/splatter_overlay3.png );
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: top right;
    pointer-events: none;
    position: absolute;
    z-index: 45;
}
#pageSplatter_1 {
    background: url( ../img/splatter_overlay4.png );
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: bottom left;
    pointer-events: none;
    position: absolute;
    z-index: 45;
}

#pageShare {
    background: url( ../img/completed_bg.jpg );
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

#pageShare > .container {
    width: 70%;
}

.codeImage {
    width: 300px;
    height: 400px;
}

#clue-10            { background: transparent url( ../img/items/tool_glow_10.png )      no-repeat 0 0 }
#clue-10.animate    { background: transparent url( ../img/items/tool_glow_10_animate.png ) no-repeat  0 0 }

.terms-conditions {
    text-decoration: underline;
}
