p {
    /*line-height: 16px;*/
}
h1 {
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    opacity: 1 !important;
    line-height: 23px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

h4 {
    font-size: 16px;
    line-height: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

.font-edo {
    font-family: "edoregular", sans-serif;
}
.font-trajan-pro {
    font-family: "trajan-pro-3", courier;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}
